*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.smol
*.fastSmol
*.smolTM
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
tools/compresSmol/
*.map
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
prefabs.json
.vscode/
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
/pokeemerald-*.png
/pokefirered-*.png
/pokeleafgreen-*.png
src/data/map_group_count.h
include/constants/heal_locations.h
include/constants/script_commands.h
tools/trainerproc/trainerproc
src/data/battle_partners.h
src/data/pokemon/teachable_learnsets.h
src/data/trainers.h
src/data/trainers_frlg.h
src/data/debug_trainers.h
src/data/tutor_moves.h
test/battle/trainer_control.h
test/battle/partner_control.h
tools/compresSmol/compresSmol
tools/compresSmol/compresSmolTilemap
tools/aif2pcm/aif2pcm
*.Identifier
*.smol
*.fastSmol
*.smolTM
__pycache__
.map_version
