# OS
.DS_Store
Thumbs.db
.fuse_hidden*

# Tools
.idea/
.vscode/
porymap*

# Emulation Files
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.sa*

# Build artifacts
build/
tools/agbcc
*.gba
!data/*.gba
*.elf
*.map
*.exe
*.sym
*.dump

# Other
*.bat
*.sna
*.diff
*.js
*.ddump
prefabs.json