{{ doNotModifyHeader }}

## for specimen in sort(species, "pokedex/number/national")
## if existsIn(specimen.pokedex, "entry")

const u8 g{{specimen.name}}PokedexText[] = _(
        "{{specimen.pokedex.entry.text}}");
## endif
## endfor
