{{ doNotModifyHeader }}


const struct CompressedSpriteSheet gMonShinyPaletteTable[] =
{
## for specimen in species
## if existsIn(specimen.graphics, "shiny_palette")
    SPECIES_SHINY_PAL({{upper(specimen.name)}}, gMonShinyPaletteTable_{{specimen.graphics.shiny_palette}}),
## else
    SPECIES_SHINY_PAL({{upper(specimen.name)}}, gMonShinyPaletteTable_{{specimen.name}}),
## endif
## endfor
};
